.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(207, 201, 201);
  padding: 2rem 2rem;
  width: 60%;
  border-radius: 5px;
  
}


.login-email-label{
    margin-top: 3.5rem;
}

.login-email-input{
    margin-top: 10px;
    padding: 15px 50px;
    border: 1px solid rgb(165, 162, 162);
    border-radius: 5px;
}

.login-password-label{
    padding-top: 1rem;
}

.login-password-input {
    margin-top: 10px;
    padding: 15px 50px;
    border: 1px solid rgb(165, 162, 162);
    border-radius: 5px;   
}

.login-btn{
    margin-top: 30px;
    padding: 15px 0;
    border: none;
    color: #fff;
    font-size: 20px;
    background: rgb(10, 110, 240);
    border-radius: 5px;
    cursor: pointer;
}

.register{
    padding-top: 1rem;
}

.link-to-register{
  text-decoration: none;
  color: blue;
}

.link-to-register:hover{
  text-decoration: underline;
}

.side-background{
  width: 50%;
  height: 100vh;
  background-color: green;
}